@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;

}
.header{
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    
}
.header img{
    height: 250px;
    width: auto;
    /* margin: 0 100px 50px 0; */
    
}
.logo{
    font-size: 24px;
    /* font-weight: 900; */
    color: #f9faf8;

}
.hero{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 150px 0 0 0;
}

.header-left{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 200px 0 200px ; */
    align-items: flex-start;
    padding: 0 0 0 100px;
}
.header-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.header-links li, a{
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    /* margin: 0 0 100px ; */
    padding: 0 5px;
}
.header .secondary-text{
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px 0;
}
button{
    background-color: #3882f6;
    color: white;
    padding: 5px 20px ;
    margin: 0 0 100px 0;
    border-radius: 5px;
    border: none;
}